Source: cgcef-verify
Maintainer: Mike <mikef@kududyn.com>
Section: misc
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9)
Homepage: http://www.darpa.mil/cybergrandchallenge/


Package: cgcef-verify
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python (<3.0)
Description: Verify executables are in the proper CGC Executable Format
 Verify CGC Executables meet the intended format.  Challenge binaries that do
 not pass verification from this tool may be rejected during the Cyber Grand
 Challenge.  
